.container {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 20px; */
}

.container button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.container button:hover {
  background-color: #0056b3;
}

.container h1 {
  font-size: 24px;
}

.container p {
  font-size: 16px;
}

.container textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .container textarea {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .container textarea,
  .container button {
    width: 100%;
    margin-right: 0;
  }
}
