#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

h1 {
  color:  rgb(255, 115, 0);
}

.event-exist{
  color:  rgb(255, 115, 0);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.calendar {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  color: rgb(236, 236, 236);
  width: 65%;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

.header button{
  font-size: 18px;
}

.div-1{
  display: flex;
  justify-content: space-around;
  margin: auto;
  color: rgb(255, 115, 0);
  font-weight: 500;
  font-size: 20px;
}

.div-2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 100%;
  margin-top: 20px;
}

.day {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.day.disabled {
  color: #ccc;
}

.date {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.event {
  background-color: #f0f0f0;
  padding: 5px;
  margin-top: 2px;
  border-radius: 3px;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
  color: #000000;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}


.current-day .date {
  border-radius: 50%; /* Make it a circle */
  border: 2px solid  rgb(255, 115, 0);; /* White border */
  width: 20px; /* Equal width and height */
  height: 20px; /* Equal width and height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center horizontally */
  padding: 4px;
}





/* EventForm */


.form-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 35px;
  margin-bottom: 20px;
  color:  rgb(255, 115, 0);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  caret-color: aqua;
}

.form-group button {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}
